/* General styles */

* {
  padding: 0px;
  margin: 0px;
  font-family: arial;
}

body {
  background-color: rgb(242, 242, 242);
}

h1 {
  font-size: 47px;
}

main {
  background-color: white;
  width: 45vw;
  height: max-content;
  margin: auto;
  text-align: center;
  padding: 25px;
}

h3 {
  font-size: 25px;
}

/* biryani img styles */

.biryani {
  height: 620px;
  width: 620px;
  object-fit: cover;
  margin: 30px auto;
}

/* styles for multiple sections */

.description,
.ingridients,
.preparation {
  text-align: left;
  padding: 15px;
}

.description>ul,
.ingridients>ul,
.preparation>ol {
  margin-left: 25px;
  padding: 15px 0px;
}

.description>ul>li,
.ingridients>ul>li,
.preparation>ol>li {
  padding: 2px;
}

.ingridients>h4,
.preparation>ol>li>h4 {
  font-size: 15px;
  letter-spacing: 2px;
}

/* section:Description styles */

.description>p,
ul {
  line-height: 24px;
}

/* section:Ingridents styles */

.ingridients>h3 {
  letter-spacing: 3px;
  color: darkblue;
}

.ingridients>hr {
  color: blue;
}

/* section:Preparation styles */

.preparation>h3 {
  letter-spacing: 3px;
  color: darkred;
}

.preparation>hr {
  color: red;
}

.preparation>ol>li>p {
  padding: 5px 0px;
}

.preparation>ol>li>h4 {
  margin-top: 25px;
}